html,
body,
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    width: 100vw;
    background-color: rgb(240, 240, 240);
}

main {
    width: 80%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    border: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 7.5px;
}

button:hover {
    background-color: hsl(0, 0%, 10%);
}

button:active {
    background-color: hsl(0, 0%, 30%);
}

.removeBtn {
    width: 50px;
    background-color: hsl(0, 100%, 39%);
}

.removeBtn:hover {
    background-color: hsl(0, 100%, 34%);
}

.removeBtn:active {
    background-color: hsl(0, 100%, 44%);
}

button:hover {
    background-color: hsl(0, 0%, 10%);
}

button:active {
    background-color: hsl(0, 0%, 30%);
}

.textInput {
    border: rgb(0, 0, 0) solid 1px;
    height: 30px;
    width: 200px;
}